**Problem Statement 1**: In a survey conducted by a non-banking financial company, a sample of 200 customers yielded that x of them were highly satisfied with the timely disbursal of their loans

1.1 Read an integer input that specifies the number of highly satisfied customers

In [ ]:
satisfied_customer_number = int(input("Enter number of highly satisfied customers:"))
satisfied_customer_number

Enter number of highly satisfied customers:10

10

1.2. Calculate an approximate 90% confidence interval for the proportion of the loan customers who are highly satisfied with disbursal time                         •Find out the Margin of Error using scipy.stats.norm.ppf       
•Calculate and print the confidence interval values rounded up to five decimal places and separated by a space



> claculate the customer proportion - standard deviation

In [ ]:
import math

customers_sample_size = 200

# calculate the satisfied customer - proportion
satisfied_customer_proportion = satisfied_customer_number / customers_sample_size

# calculate the unsatisfied customer - proportion
unsatisfied_customer_proportion = 1 - satisfied_customer_proportion

# Calcualte the customer proportion - standard Error
customer_proportion_SE = math.sqrt(satisfied_customer_proportion * unsatisfied_customer_proportion / customers_sample_size)
customer_proportion_SE

0.015411035007422441

> Calculate the 90% confidence interval - critical value using scipy.stats.norm.ppf

In [ ]:
import scipy.stats as stats

confidence_interval = 0.9

# Calcualte the critical value (t score value) of 90% confidence interval
critical_value = stats.norm.ppf(1-(1 - confidence_interval)/2)
critical_value

1.6448536269514722

> Calculate the 90% confidence interval - margin error

In [ ]:
margin_error = critical_value * customer_proportion_SE

critical_value

1.6448536269514722


> Calculate and print the confidence interval values rounded up to five decimal places and separated by a space

In [ ]:
lower_interval_value = satisfied_customer_proportion - margin_error
upper_interval_value = satisfied_customer_proportion + margin_error

print('confidence interval: '+str(round(lower_interval_value, 5))+" "+str(round(upper_interval_value, 5)))

confidence interval: 0.02465 0.07535



**Problem Statement 2**: A radar unit is used to measure the speeds of cars on a motorway. The speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr


Find the probability that a car picked at random is traveling at more than X km/hr•Take the speedXas an input•Printthe probability value rounded up tofour decimal places



> Take the speed X as an input

In [ ]:
speed_x = int(input("Enter the speed to observe its probability:"))

Enter the speed to observe its probability:10



> Print the probability value rounded up to four decimal
places

In [ ]:
speed_x_mean = 75
speed_x_sd = 15

speed_x_probability = 1-stats.norm.cdf(speed_x, loc = speed_x_mean, scale = speed_x_sd)
speed_x_probability = round(speed_x_probability, 4)
print(f"The probability of {speed_x} km/hr is: {speed_x_probability}")

The probability of 10 km/hr is: 1.0

**Problem Statement 3**: Write a Python program to load
the “kerala.csv”data into a DataFrame and perform the following tasks:



Load the “kerala.csv”data into a DataFrame

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/amandp13/Flood-Prediction-Model/2d0421afcfdc0beb5ffc533c76f65b8376d38551/kerala.csv"

df = pd.read_csv(url)

df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO



June and July are the peak months of rainfall. Consider that if it rains more than 500mm, then chances of flood become more;

**1.create a Datarame with columns –“YEAR”, “JUN_GT_500”(Contains a boolean value to showwhether it rained more than500 mm in the month of June), “JUL_GT_500”(Contains a boolean value to showwhether it rained more than500 mm in the month of July),and “FLOODS”(Containsaboolean value to showwhetherit flooded that year)**

In [ ]:
df_jun_jul = pd.DataFrame()

df_jun_jul[['YEAR', 'JUN_GT_500', 'JUL_GT_500', 'FLOODS']] = df[['YEAR', 'JUN', 'JUL', 'FLOODS']]


for i in range(len(df_jun_jul)):
  if df_jun_jul.at[i, 'JUN_GT_500'] > 500:
    df_jun_jul.at[i, 'JUN_GT_500'] = 1
  else:
    df_jun_jul.at[i, 'JUN_GT_500'] = 0

  if df_jun_jul.at[i, 'JUL_GT_500'] > 500:
    df_jun_jul.at[i, 'JUL_GT_500'] = 1
  else:
    df_jun_jul.at[i, 'JUL_GT_500'] = 0

  if df_jun_jul.at[i, 'FLOODS'] == 'YES':
    df_jun_jul.at[i, 'FLOODS'] = 1
  else:
    df_jun_jul.at[i, 'FLOODS'] = 0

df_jun_jul.head()

   YEAR  JUN_GT_500  JUL_GT_500 FLOODS
0  1901         1.0         1.0      1
1  1902         0.0         1.0      1
2  1903         1.0         1.0      1
3  1904         1.0         1.0      1
4  1905         1.0         1.0      0


**2.Explore the DataFrame using info()and describe()functions**

In [ ]:
df_jun_jul.info()

df_jun_jul.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YEAR        118 non-null    int64
 1   JUN_GT_500  118 non-null    float64
 2   JUL_GT_500  118 non-null    float64
 3   FLOODS      118 non-null    object
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ KB

              YEAR  JUN_GT_500  JUL_GT_500
count   118.000000  118.000000  118.000000
mean   1959.500000    0.788136    0.813559
std      34.207699    0.410372    0.391123
min    1901.000000    0.000000    0.000000
25%    1930.250000    1.000000    1.000000
50%    1959.500000    1.000000    1.000000
75%    1988.750000    1.000000    1.000000
max    2018.000000    1.000000    1.000000


**3.Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))**

Step1: Calulate the sample size

In [ ]:
x_size = len(df)
x_size

118

Step2: Calculate the count of rain more than 500mm in june

In [ ]:
june_count = df_jun_jul[df_jun_jul.JUN_GT_500 == 1].JUN_GT_500.count()
june_count

93

Step3: Calculate the probability of more than 500mm rain in june

In [ ]:
probability_june = june_count/x_size
probability_june

0.788135593220339

Step4: Calculate the count of rain more than 500mm and flood in june

In [ ]:
flood_rain_count = df_jun_jul[(df_jun_jul.FLOODS == 1) & (df_jun_jul.JUN_GT_500 == 1)].FLOODS.count()
flood_rain_count

54

Step5: Calculate the probability of rain more than 500mm and flood in june

In [ ]:
prob_flood_rain = flood_rain_count/x_size
prob_flood_rain

0.4576271186440678

Step6:Calculate the probability of flood given it rained more than 500 mm in June

In [ ]:
prob_flood_rain = prob_flood_rain/probability_june
prob_flood_rain

0.5806451612903226



**4.Calculate the probability of rain more than 500 mm in June,given it flooded that year (P(B|A))**

step1: Calculate the number of times the flood occured

In [ ]:
flood_counts = df_jun_jul[df_jun_jul.FLOODS == 1].FLOODS.count()
flood_counts

60

Step2: Calculate the probability of flood occuring that year

In [ ]:
prob_flood = flood_counts/x_size
prob_flood

0.5084745762711864

step3: Calculate the number of acurrences where rain in june is more than 500mm and flood occurs that year

In [ ]:
rain_flood_count = df_jun_jul[(df_jun_jul.JUN_GT_500 == 1) & (df_jun_jul.FLOODS == 1)].JUN_GT_500.count()
rain_flood_count

54

step4: Calculate the probability of rain in june is more than 500 mm and flood occurs that year

In [ ]:
prob_rain_flood = rain_flood_count/x_size
prob_rain_flood

0.4576271186440678

Step5: Calulate the probability it rain more than 500 mm given it flooded that year.

In [ ]:
prob_rain_flood = prob_rain_flood/prob_flood
prob_rain_flood

0.9



> 5. Probability of flood given it rained more than 500 mm in July



> 6. Probability of rainmore than 500 mm in July given it flooded that year (P(B|A))