**Problem Statement 1**: In a survey conducted by a non-banking financial company, a sample of 200 customers yielded that x of them were highly satisfied with the timely disbursal of their loans

1.1 Read an integer input that specifies the number of highly satisfied customers

In [33]:
satisfied_customer_number = int(input("Enter number of highly satisfied customers:"))
satisfied_customer_number

Enter number of highly satisfied customers:172

172

1.2. Calculate an approximate 90% confidence interval for the proportion of the loan customers who are highly satisfied with disbursal time                         •Find out the Margin of Error using scipy.stats.norm.ppf       
•Calculate and print the confidence interval values rounded up to five decimal places and separated by a space



> claculate the customer proportion - standard deviation

In [34]:
import math

customers_sample_size = 200

# calculate the satisfied customer - proportion
satisfied_customer_proportion = satisfied_customer_number / customers_sample_size

# calculate the unsatisfied customer - proportion
unsatisfied_customer_proportion = 1 - satisfied_customer_proportion

# Calcualte the customer proportion - standard Error
customer_proportion_SE = math.sqrt(satisfied_customer_proportion * unsatisfied_customer_proportion / customers_sample_size)
customer_proportion_SE

0.024535688292770596

> Calculate the 90% confidence interval - critical value using scipy.stats.norm.ppf

In [35]:
import scipy.stats as stats

confidence_interval = 0.9

# Calcualte the critical value (t score value) of 90% confidence interval
critical_value = stats.norm.ppf(1-(1 - confidence_interval)/2)
critical_value

1.6448536269514722

> Calculate the 90% confidence interval - margin error

In [36]:
margin_error = critical_value * customer_proportion_SE

margin_error

0.04035761587811449


> Calculate and print the confidence interval values rounded up to five decimal places and separated by a space

In [37]:
lower_interval_value = satisfied_customer_proportion - margin_error
upper_interval_value = satisfied_customer_proportion + margin_error

print('confidence interval: '+str(round(lower_interval_value, 5))+" "+str(round(upper_interval_value, 5)))

confidence interval: 0.81964 0.90036



**Problem Statement 2**: A radar unit is used to measure the speeds of cars on a motorway. The speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr


Find the probability that a car picked at random is traveling at more than X km/hr•Take the speedXas an input•Printthe probability value rounded up tofour decimal places



> Take the speed X as an input

In [38]:
speed_x = int(input("Enter the speed to observe its probability:"))

Enter the speed to observe its probability:100



> Print the probability value rounded up to four decimal
places

In [39]:
speed_x_mean = 75
speed_x_sd = 15

speed_x_probability = 1-stats.norm.cdf(speed_x, loc = speed_x_mean, scale = speed_x_sd)
speed_x_probability = round(speed_x_probability, 4)
print(f"The probability of {speed_x} km/hr is: {speed_x_probability}")

The probability of 100 km/hr is: 0.0478

**Problem Statement 3**: Write a Python program to load
the “kerala.csv”data into a DataFrame and perform the following tasks:



Load the “kerala.csv”data into a DataFrame

In [40]:
import pandas as pd

url = "https://raw.githubusercontent.com/amandp13/Flood-Prediction-Model/2d0421afcfdc0beb5ffc533c76f65b8376d38551/kerala.csv"

df = pd.read_csv(url)

df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO



June and July are the peak months of rainfall. Consider that if it rains more than 500mm, then chances of flood become more;

**1.create a Datarame with columns –“YEAR”, “JUN_GT_500”(Contains a boolean value to show whether it rained more than 500 mm in the month of June), “JUL_GT_500”(Contains a boolean value to show whether it rained more than 500 mm in the month of July),and “FLOODS”(Contains a boolean value to show whether it flooded that year)**

In [41]:
df_jun_jul = pd.DataFrame()

df_jun_jul[['YEAR', 'JUN_GT_500', 'JUL_GT_500', 'FLOODS']] = df[['YEAR', 'JUN', 'JUL', 'FLOODS']]


for i in range(len(df_jun_jul)):
  if df_jun_jul.at[i, 'JUN_GT_500'] > 500:
    df_jun_jul.at[i, 'JUN_GT_500'] = 1
  else:
    df_jun_jul.at[i, 'JUN_GT_500'] = 0

  if df_jun_jul.at[i, 'JUL_GT_500'] > 500:
    df_jun_jul.at[i, 'JUL_GT_500'] = 1
  else:
    df_jun_jul.at[i, 'JUL_GT_500'] = 0

  if df_jun_jul.at[i, 'FLOODS'] == 'YES':
    df_jun_jul.at[i, 'FLOODS'] = 1
  else:
    df_jun_jul.at[i, 'FLOODS'] = 0

df_jun_jul.head()

   YEAR  JUN_GT_500  JUL_GT_500 FLOODS
0  1901         1.0         1.0      1
1  1902         0.0         1.0      1
2  1903         1.0         1.0      1
3  1904         1.0         1.0      1
4  1905         1.0         1.0      0

Test
**1.Explore the DataFrame using info()and describe()functions**

In [42]:
df_jun_jul.info()

df_jun_jul.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YEAR        118 non-null    int64
 1   JUN_GT_500  118 non-null    float64
 2   JUL_GT_500  118 non-null    float64
 3   FLOODS      118 non-null    object
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ KB

              YEAR  JUN_GT_500  JUL_GT_500
count   118.000000  118.000000  118.000000
mean   1959.500000    0.788136    0.813559
std      34.207699    0.410372    0.391123
min    1901.000000    0.000000    0.000000
25%    1930.250000    1.000000    1.000000
50%    1959.500000    1.000000    1.000000
75%    1988.750000    1.000000    1.000000
max    2018.000000    1.000000    1.000000


**2. Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))**

Step 1: Calulate the sample size

In [43]:
x_size = len(df)
x_size

118

Step 2: Calculate the count of rain more than 500mm in june

In [44]:
june_count = df_jun_jul[df_jun_jul.JUN_GT_500 == 1].JUN_GT_500.count()
june_count

93

Step 3: Calculate the probability of more than 500mm rain in june

In [45]:
probability_june = june_count/x_size
probability_june

0.788135593220339

Step 4: Calculate the count of rain more than 500mm and flood in june

In [72]:
flood_rain_count = df_jun_jul[(df_jun_jul.FLOODS == 1) & (df_jun_jul.JUN_GT_500 == 1)].FLOODS.count()
flood_rain_count

54

Step 5: Calculate the probability of rain more than 500mm and flood in june

In [47]:
prob_flood_rain = flood_rain_count/x_size
prob_flood_rain

0.4576271186440678

Step 6: Calculate the probability of flood given it rained more than 500 mm in June

In [71]:
prob_flood_given_rain = prob_flood_rain/probability_june
prob_flood_rain

0.4576271186440678



**3. Calculate the probability of rain more than 500 mm in June,given it flooded that year (P(B|A))**

step 1: Calculate the number of times the flood occured

In [49]:
flood_counts = df_jun_jul[df_jun_jul.FLOODS == 1].FLOODS.count()
flood_counts

60

Step 2: Calculate the probability that the flood occured

In [50]:
prob_flood = flood_counts/x_size
prob_flood

0.5084745762711864

step 3: Calculate the number of acurrences where rain in june is more than 500mm and flood occurs that year

In [51]:
rain_flood_count = df_jun_jul[(df_jun_jul.JUN_GT_500 == 1) & (df_jun_jul.FLOODS == 1)].JUN_GT_500.count()
rain_flood_count

54

step 4: Calculate the probability of rain in june is more than 500 mm and flood occurs that year

In [52]:
prob_rain_flood = rain_flood_count/x_size
prob_rain_flood

0.4576271186440678

Step 5: Calulate the probability it rain more than 500 mm given it flooded that year.

In [53]:
prob_rain_given_flood = prob_rain_flood/prob_flood
prob_rain_flood

0.4576271186440678

**4. Probability of flood given it rained more than 500 mm in July**

Step 1: Calculate the number of times it rain more 500 mm in July

In [54]:
rain_count = df_jun_jul[df_jun_jul.JUL_GT_500 == 1].JUL_GT_500.count()
rain_count

96

Step 2: Calculate the probability that it rains more than 500 mm in July

In [55]:
prob_rain = rain_count/x_size
prob_rain

0.8135593220338984

Step 3: Calculate the number of times it rain more than 500 mm in July and it flood in that year

In [56]:
rain_flood_count = df_jun_jul[(df_jun_jul.JUL_GT_500 == 1) & (df_jun_jul.FLOODS == 1)].FLOODS.count()
rain_flood_count

57

Step 4: Calculate the probability that it rain more than 500 mm in July and it flood in that year

In [57]:
prob_rain_flood = rain_flood_count/x_size
prob_rain_flood

0.4830508474576271

Step 5: Calculate the probability of flood given it rained more than 500 mm in July

In [58]:
prob_flood_given_rain = prob_rain_flood/prob_rain
prob_flood_given_rain

0.59375



**5. Probability of rain more than 500 mm in July given it flooded that year (P(B|A))**

Step 1: Calculate the number of times it flooded

In [59]:
flooded_count = df_jun_jul[df_jun_jul.FLOODS == 1].FLOODS.count()
flooded_count

60

Step 2: Calculate the probability that it flooded

In [60]:
prob_flooded = flooded_count / x_size
prob_flooded

0.5084745762711864

Step 3: Calculate the number of times it rain more than 500 mm in July and it flooded that year

In [61]:
rain_flooded_count = df_jun_jul[(df_jun_jul.JUL_GT_500 == 1) & (df_jun_jul.FLOODS == 1)].JUL_GT_500.count()
rain_flooded_count

57

Step 4: Calculate the probability it rain more than 500 mm in July and it flooded that year

In [62]:
prob_rain_flooded = rain_flooded_count / x_size
prob_rain_flooded

0.4830508474576271

Step 5: Calculate the probability that it rain more than 500 mm in July given it flooded that year

In [63]:
prob_rain_given_flooded = prob_rain_flooded / prob_flooded
prob_rain_given_flooded

0.9500000000000001

**Problem Statement 4**: Write a Python program to load the wine dataset using the Sklearn library to a DataFrame and perform the following tasks from 1-3:

Step 1: install scikit-learn (sklearn) library and import the load_wine dataset object

In [64]:
# Install sklearn library
!pip install sklearn

# Import load wine from sklearn.datasets module
from sklearn.datasets import load_wine

Requirement already satisfied: sklearn in /usr/local/lib/python3.10/dist-packages (0.0.post7)

Step 2: Load the wine data set

In [65]:
wine_data = load_wine()

**1.** Convert the data set into Data Frame using pandas.

In [66]:
import pandas as pd
df = pd.DataFrame(data = wine_data.data,columns=wine_data.feature_names)
# df['target'] = wine_data.target
df.head()

alcohol                         178
malic_acid                      178
ash                             178
alcalinity_of_ash               178
magnesium                       178
total_phenols                   178
flavanoids                      178
nonflavanoid_phenols            178
proanthocyanins                 178
color_intensity                 178
hue                             178
od280/od315_of_diluted_wines    178
proline                         178
dtype: int64

**2.** Generate the sample size of 50 and give a random state as 100.

In [67]:
import numpy as np

# Set the random seed for reproducibility
np.random.seed(100)

# Generate a sample of size 50 from the DataFrame
sample_size = 50
rand_sample = df.sample(sample_size)

rand_sample.head()

alcohol                         50
malic_acid                      50
ash                             50
alcalinity_of_ash               50
magnesium                       50
total_phenols                   50
flavanoids                      50
nonflavanoid_phenols            50
proanthocyanins                 50
color_intensity                 50
hue                             50
od280/od315_of_diluted_wines    50
proline                         50
dtype: int64

**3.** Calculate Z-critical, Margin of Error,andConfidence Interval for alcohol at 95% significance interval on generated sample data.

Step 1: Calculate the one tailored Z-critical value for alcohol at 95% significance interval on generated sample data

In [68]:
import scipy.stats as stats

z_critical_value = stats.norm.ppf(1-(1-0.95))
z_critical_value

1.6448536269514722

Step 2: Calculate the Margin of Error for alcohol at 95% significance interval on generated sample dataon generated sample data

In [69]:
# import math sqrt function
from math import sqrt

# Calculate the mean and standard deviation of the alcohol
sample_mean = rand_sample['alcohol'].mean()
population_std = rand_sample['alcohol'].std()



# calculate the standard Error of the alcohol
sample_standard_error = population_std/sqrt(sample_size)
print("f sample_standard_error:  {sample_standard_error}")

# Calculate the margin of error of alcohol at 95% confidence interval
margin_of_error = z_critical_value * sample_standard_error
margin_of_error

f sample_standard_error:  {sample_standard_error}

0.17880519784197366

Step 3: Calculate Confidence Interval for alcohol at 95% significance interval on generated sample data

In [70]:
confidence_interval = f"{sample_mean - margin_of_error}, {sample_mean + margin_of_error}"
confidence_interval

'12.794794802158025, 13.152405197841974'